/* You can add global styles to this file, and also import other style files */

$top: 10;
@mixin top-px {
  @for $i from 0 through $top {
    .top-#{$i} {
      top: $i + px;
    }
  }
}

@include top-px;

/* FONTS */

p {
  margin-bottom: 20px;
}

// Set Ups
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-15 {
  font-size: 15px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-23 {
  font-size: 23px;
}
.font-24 {
  font-size: 24px;
}
.font-25 {
  font-size: 25px;
}
.font-30 {
  font-size: 30px;
}
.font-40 {
  font-size: 40px;
}
.font-80 {
  font-size: 80px;
}
.font-100 {
  font-size: 100px;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-semibold {
  font-weight: 500;
}
.font-weight-bold {
  font-weight: 700;
}
.font-italic{
  font-style: italic;
}
.t-0 {
  top: 0;
}
// .top-10{

// }

.l-0 {
  left: 0;
}
.b-0 {
  bottom: 0;
}
.r-0 {
  right: 0;
}
.white-box {
  background-color: #fff;
}
.full-height {
  min-height: 95vh;
}
.h-45 {
  height: 45px;
}
.h-58{
  height: 58px;
}
// General
.z-index-1000 {
  z-index: 1000;
}
.z-index-2000 {
  z-index: 2000;
}
.z-index-2500 {
  z-index: 2500;
}
.no-underline {
  text-decoration: none;
}

// Separators
.line-separator {
  border-width: 0.75px;
}

// Buttons
.round-button {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Layout
.w-15 {
  width: 15%;
}
.main-grid {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.main-category-grid {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}

// Auth
.auth-dropdown li:not(:last-child) {
  border-bottom: 1px solid #e9ecef;
}
.auth-dropdown .dropdown-item:hover,.auth-dropdown .dropdown-item:focus{
    border-radius:0.8rem;
}

// List
.custom-menu li a {
  border: 0;
  font-size: 15px;
  border-bottom: 1px solid #e9ecef;
  transition: background-color 0.3s;
}
.custom-menu li a:hover {
  background-color: #e9ecef;
}

.val-box{
  i{
    line-height:100%;
  }
}
.single-cert-box{
  transition: 0.3s;
  transform: scale(1);
}
.single-cert-box:hover{
  transform: scale(0.95);
  box-shadow: 0 0.5rem 1rem 5px rgb(9 16 18);
}
.cert-modal {
  .modal-dialog{
    margin:0 auto;
    
  }
  .modal-content{
    border:0;
    min-height:100vh;
  }
  .btn-close{
    color:#fff;
  }
}
.custom-logo{
  img{
    height:40px;
  }
}

@media screen and (max-width: 991px) {
  
}
@media screen and (max-width: 767px) {
 
}

