<div class="container-fluid custom-bg py-4 full-height full-bg">
    <div class="row">
        <div class="col-6 d-flex">
            <!-- <div class="d-flex align-items-center">
               <a href="/"><img style="width:150px;" class="img-fluid" src="../../../../assets/images/main-logo.png"></a>
            </div> -->
        </div>
        <div class="col-6 d-flex justify-content-end">
            <!-- <div class="d-flex align-items-center">
                <idf-user-menu [btnBgBootstrapClass]="'btn-primary'"  [menuItems]="menuItems"></idf-user-menu>
            </div> -->
        </div>
    </div>
    <router-outlet></router-outlet>
</div>